MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=wanderlust_user
MYSQL_PASSWORD=your_password_here
MYSQL_DATABASE=wanderlust
REDIS_URL="127.0.0.1:6379"
PORT=5000
JWT_SECRET=your_jwt_secret_here
ACCESS_TOKEN_EXPIRES_IN='120s'
REFRESH_TOKEN_EXPIRES_IN='7d'
ACCESS_COOKIE_MAXAGE=120000
REFRESH_COOKIE_MAXAGE=604800000
NODE_ENV=Development
FRONTEND_URL=http://localhost:5173
